// Team color codes... http://teamcolorcodes.com/category/mlb-team-color-codes/
.azd {
  .sedona-red {
    color: #A71930;
  }
  .sonoran-sand {
    color: #D9C89D;
  }
  .teal {
    color: #09ADAD;
  }
  .black {
    color: #000000;
  }
  .white {
    color: #FFFFFF;
  }

  .turquoise {
    color: #006B6E;
  }
  .copper {
    color: #A0743C;
  }
  .purple {
    color: #393996;
  }
}
